# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Laboratório de Programação\aula_12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
